$wallpaperOne: "images/64.jpg";
$wallpaperTwo: "images/sunshine.jpg";
$wallpaperThree: "images/galaxy.jpg";
$logo: "images/logo.png";
$logo2: "images/logo2.png";
$fontSizeP: 1.2vw;
$fontSizeH1: 3vw;
$marioFont: "./SuperMario256.ttf";
$gradColor: rgb(255, 0, 0);
$gradColor2: rgb(35, 188, 22);